(common-config) {
    log {
        output stdout
    }

    handle_path /one* {
        root * /var/www/one-frontend
        file_server
    }

    handle_path /another* {
        root * /var/www/another-frontend
        file_server
    }

    handle_path /my-deno* {
        reverse_proxy deno-app:8000
    }

    handle /process-data* {
        reverse_proxy python-app:8000
    }
}

http://localhost {
    import common-config
}

demos.pnetto.com {
    import common-config
}