name: demos
services:
  nginx:
    image: nginx:stable-alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./proxy/nginx/conf.d:/etc/nginx/conf.d:ro
      - ./proxy/nginx/snippets:/etc/nginx/snippets:ro
      - ./proxy/certbot/conf:/etc/letsencrypt:ro
      - ./proxy/certbot/www:/var/www/certbot:ro
      - ./static:/var/www/html:ro

  certbot:
    image: certbot/certbot
    volumes:
      - ./proxy/certbot/conf:/etc/letsencrypt
      - ./proxy/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; docker exec demos-nginx-1 nginx -s reload; sleep 12h & wait $${!}; done;'"

  python-app:
    build: ./services/python/python-app
    expose:
      - "8000"
    environment:
      DB_HOST: ${DB_HOST}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    depends_on:
      - db
      - go-worker
    restart: on-failure

  go-worker:
    build: ./services/go/go-worker
    expose:
      - "8080"
    restart: on-failure

  deno-app:
    build: ./services/deno/deno-app
    expose:
      - "8000"
    restart: on-failure

  code-executor:
    build: ./services/deno/code-executor
    ports:
      - "8000:8000"
    restart: on-failure

  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: