services:
  nginx:
    image: nginx:stable-alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "8888:8888"
    volumes:
      - ./conf.d:/etc/nginx/conf.d:ro
      - ./snippets:/etc/nginx/snippets:ro
      - ./certs:/etc/nginx/ssl:ro
      - ../static:/var/www/html:ro
      - ./favicon.svg:/var/www/static/favicon.svg:ro
