services:
  python-go-test:
    build: .
    profiles:
      - lazy
    labels:
      - "lazy=true"
    expose:
      - "8000"
    env_file:
      - .env
    environment:
      DB_HOST: python-app-db
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    depends_on:
      - python-app-db
      - go-worker
    restart: on-failure

  python-app-db:
    image: postgres:17-alpine
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    profiles:
      - lazy
    labels:
      - "lazy=true"
    volumes:
      - python-app-postgres:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  python-app-postgres:
