services:
  nginx:
    image: nginx:stable-alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./conf.d:/etc/nginx/conf.d:ro
      - ./snippets:/etc/nginx/snippets:ro
      # _certs live in project root
      - ../../../_certs:/etc/nginx/ssl:ro
      - ../static:/var/www/html:ro
