name: Deploy to VM

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          passphrase: ${{ secrets.VM_PASSPHRASE }}
          script: |
            DEMOS_FOLDER="/home/${{ secrets.VM_USER }}/demos"
            mkdir -p $DEMOS_FOLDER
            cd $DEMOS_FOLDER

            if [ ! -d ".git" ]; then
              git clone https://${{ secrets.GH_PAT }}@github.com/${{ github.repository }}.git .
            else
              git pull origin main
            fi

            # Deploy using Docker Compose
            # docker compose --profile '*' down --remove-orphans # Keep reference for convenience
            docker compose pull
            docker compose --profile lazy build
            docker compose up -d --remove-orphans
